{
    default_sni {$DOMAIN:localhost}
}

{% if deployment_mode == "lan" %}
{$DOMAIN:localhost} {
{% else %}
{{ domain }} {
{% endif %}
    log {
        output file /var/log/caddy/access.log {
            format console
        }
    }
    basic_auth * {
        {$BASICAUTH_USERS}
    }
    reverse_proxy streamlit:8501
}
